nav .navbar-brand::after {
    content: "Try a Tutor";
    font-size: 30px;
    font-family: 'Oswald', serif;
}

.navbar ul {
    line-height: 50px;
}

.navbar {
    padding: 0%;
    margin-bottom: 50px;
}

.navbar .navbar-brand {
    margin-left: 50px;
}

.navbar-nav {
    margin-right: 50px;
}

.nav-item {
    padding: 0px 10px;
    font-size: 18px;
    font-family: 'Slabo 27px', serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: 400;
    transition: 0.6s ease;
}

.custom-bg {
    background-color: rgb(13, 35, 43);
}

.nav-item a:hover {
    background-color: rgba(0, 89, 92, 0.5);
    color: white !important;
}

.navbar img {
    height: 50px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.drop-menu {
    margin-left: 10px;
}

.dropdown-menu a:hover {
    background-color: rgb(199, 230, 255);
    font-weight: 500;
    color: black !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .nav-link {
    background-color: rgba(0, 89, 92, 0.5);
}