nav .navbar-brand::after {
    content: "Try a Tutor";
    font-size: 30px;
    font-family: 'Oswald', serif;
}

.navbar ul {
    line-height: 50px;
}

.navbar {
    font-family: 'Poppins';
    padding: 0%;
    margin-bottom: 50px;
}

.navbar .navbar-brand {
    margin-left: 50px;
}

.navbar-nav {
    margin-right: 50px;
}

.nav-item {
    padding: 0px 10px;
    font-size: 18px;
    font-family: 'Slabo 27px', serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: 400;
    transition: 0.6s ease;
}

.custom-bg {
    background-color: rgb(13, 35, 43);
}

.nav-item a:hover {
    background-color: rgba(56, 82, 83, 0.5);
    color: white !important;
}

.navbar img {
    height: 50px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgb(171, 220, 243);
    color: rgb(13, 35, 43) !important;
}