.login-area {
    margin-top: 100px;
    margin-bottom: 150px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.login {
    padding: 10px 20px;
    background-color: rgb(41, 105, 243);
    color: white;
    border-radius: 5px;
    border: none;
}

.login:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(1, 78, 245);
}

.submit-area {
    margin: 50px 200px;
    box-shadow: 0px 2px 10px lightgray;
    padding: 80px 120px 0px;
    font-family: 'Roboto', sans-serif;
}

.submit-area a {
    text-decoration: none;
}

.form-group {
    display: flex;
}

.form-group i {
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
}

@media screen and (max-width: 1000px) {
    .submit-area {
        box-shadow: 0px 2px 10px lightgray;
        font-family: 'Roboto', sans-serif;
        padding: 40px 10px;
        margin: 10px;
    }
}