.student-area {
    margin: 150px 0 100px;

}

.student {
    box-shadow: 2px -1px 5px 1px rgba(133, 216, 230, 1);
    padding-bottom: 20px;

}

.btn-box {
    border-bottom: 1px solid #ccc;
    font-family: "Poppins";
}

.btn-box button {
    background: transparent;
    border: none !important;
    outline: none !important;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

.btn-box button:hover {
    color: #04BFCD !important;
}

.job-post-area {
    margin: 50px 250px;
    padding: 20px 40px;
    border: 1px solid lightgray;
    height: 450px;
}

.btn-info {
    color: white !important;
    outline: none !important;
}

.job-post-button {
    text-decoration: none !important;
    background-color: #131e33;
    padding: 10px 30px;
    border: none !important;
    color: white;
    border-radius: 5px;
    transition: 0.6s ease;
    outline: none !important;
}

.job-post-button:hover {
    color: white;
    background-color: #0b111f;
    border-radius: 30px;
    padding: 10px 80px;
}

.job-post-area {
    font-weight: 500;
    font-size: 18px;
    font-family: "Roboto";
}

.search-tutor-area {
    margin: 50px 250px;
    padding: 20px 50px;
    box-shadow: 3px 3px 5px lightgray;
    border-radius: 10px;
    text-align: center;
}

.btn-outline-dark {
    padding: 10px 40px;
    margin-right: 20px;
}

.btn-dark {
    color: white !important;
    outline: none !important;
}

.founded-tutors {
    margin-top: 100px;
}

.founded-tutors ul li:hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.founded-tutor-details {
    padding-left: 150px;
}

.tutor-info {
    border-left: 3px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    box-shadow: 3px 3px 5px lightgrey;
    border-radius: 5px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-family: "Roboto";
}

.send-request {
    padding: 10px 0px;
    margin-left: -50px;
    border: none !important;
    border-radius: 5px;
    color: white;
    background-color: rgb(8, 189, 8);
    width: 95%;
    font-weight: 500;
    font-size: 17px;
    outline: none !important;
}

.send-request:hover {
    background-color: rgb(8, 219, 8);
}

.tutor-info .fas {
    background-color: white;
    padding: 5px 10px;
}

#post-job-button {
    color: #04BFCD;
}

#find-tutor {
    display: none;
}

#found-tutors-list {
    display: none;
}

#founded-tutor-id {
    display: none;
}

#student-profile-id {
    display: none;
}

#notification-area-id {
    display: none;
}

#notifications-details-id {
    display: none;
}

#connected-tutors-list {
    display: none;
}

#connected-tutor-details-id {
    display: none;
}

.notification-area {
    margin: 50px 0px 50px 50px;
}

.notifications {
    border-right: 2px solid lightgray;
    border-left: 2px solid lightgray;
}

.type-1-notification {
    padding: 20px 20px 0px;
    /* background-color: lightskyblue; */
}

.type-2-notification {
    padding: 10px 20px 0px;
    /* background-color: lightgreen; */
}

.type-3-notification {
    padding: 10px 20px 0px;
    /* background-color: lightgreen; */
}

.type-1-notification .upper-portion p {
    /* background-color: rgb(247, 56, 56); */
    background-color: #2d9efc;
    color: white;
    border-radius: 5px;
}

.type-2-notification .upper-portion p {
    background-color: #038e56;
    color: white;
    border-radius: 5px;
}

.type-3-notification .upper-portion p {
    background-color: rgb(247, 56, 56);
    color: white;
    border-radius: 5px;
}

.round-shape-type-1 {
    width: 30px;
    height: 30px;
    background-color: #fadadb;
    color: #ef8f90;
    border-radius: 50%;
    border: 1px solid #fac5c6;
}

.round-shape-type-2 {
    width: 30px;
    height: 30px;
    background-color: #e0edfe;
    color: #88a8f5;
    border-radius: 50%;
    border: 1px solid #c2dbfd;
}

.round-shape-type-3 {
    width: 30px;
    height: 30px;
    background-color: #e0edfe;
    color: #88a8f5;
    border-radius: 50%;
    border: 1px solid #c2dbfd;
}

.lower-portion span {
    color: orange;
}

.see-tutor-details {
    text-decoration: none;
    border: none;
    border-radius: 30px;
    background-color: #bbf7de;
    color: #038e56;
    font-size: 10px;
    font-weight: bold;
    outline: none !important;
    padding: 5px 10px;
    border: 1px solid #bbf7de;
}

.see-tutor-details:hover {
    border: 1px solid #038e56;
}

.see-tutor-details-rejected {
    text-decoration: none;
    border: none;
    border-radius: 30px;
    background-color: lightgray;
    color: rgb(100, 100, 100);
    font-size: 10px;
    font-weight: bold;
    outline: none !important;
    padding: 5px 10px;
    border: 1px solid lightgray;
}

.remove-tutor-notification {
    text-decoration: none;
    border: none;
    border-radius: 30px;
    background-color: #ffe8c2;
    color: #ee7d09;
    font-size: 10px;
    font-weight: bold;
    outline: none !important;
    padding: 5px 10px;
    border: 1px solid #ffe8c2;
}

.remove-tutor-notification:hover {
    border: 1px solid #ee7d09;
}

.connected-tutors ul li:hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.connected-tutor-details {
    padding-left: 150px;
}

.connected-profile-card {
    width: 77% !important;
    background-image: url("../Images/background/profile-background.png") !important;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    margin: auto;
    border: none;
    box-shadow: 3px 3px 5px 2px gray;
}

.card {
    background-image: url("../Images/background/student-profile-bg.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
    width: 83%;
    margin: auto;
    border: none;
    box-shadow: 3px 3px 5px 2px gray;
}

.profile-card {
    width: 34% !important;
}

.card img {
    margin-top: 30px;
    width: 45%;
}

.card-content {
    margin-top: 50px;
}

.card-content p {
    font-size: 15px;
}

.contact p {
    font-size: 14px;
}

.card-footer {
    border: none;
    background-color: rgb(43, 4, 88);
}

.card span {
    color: orange;
}

.card-footer .fab {
    padding: 0 20px;
    text-decoration: none;
    color: white;
}