.register {
    margin-top: 100px;
}

.register h2 {
    font-family: 'Oswald', sans-serif;
}

.register-area {
    margin: 50px 200px;
    padding: 20px 40px;
    border: 1px solid lightgray;
    height: 700px;
}

.register-button {
    background-color: rgb(0, 0, 71);
    padding: 5px 20px;
    border: none;
    color: white;
    float: right;
    border-radius: 5px;
}

.register-button:hover {
    text-decoration: none;
    background-color: rgb(1, 1, 49);
    color: white;
}

.pick {
    width: 100px;
    height: 30px;
    padding-left: 5px;
    border: none;
    border-radius: 3px;
    /* background-color: rgb(231, 230, 230); */
}

.btn-dark {
    color: white !important;
}