.tutor-area {
    margin: 150px 0 100px;
}

.tutor {
    box-shadow: 2px -1px 5px 1px rgba(133, 216, 230, 1);
    padding-bottom: 20px;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

.btn-box {
    border-bottom: 1px solid #ccc;
}

.btn-box button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}

.btn-box button:hover {
    color: #04BFCD;
}

tr:hover {
    background-color: rgb(49, 185, 185);
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: rgb(199, 230, 255);
}

.details h4.title {
    position: relative;
    padding-bottom: 18px;
}

.details h4:after {
    position: absolute;
    content: "";
    height: 3px;
    width: 200px;
    background: transparent linear-gradient(142deg, #0af2c6 0%, #359ff2 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.details {
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    border-radius: 50%;
}

#job-details {
    display: none;
}

#invitation-details {
    display: none;
}

#employer-id {
    display: none;
}

#invitation {
    display: none;
}

#employer {
    display: none;
}

#profile {
    display: none;
}

.details h4 {
    font-weight: bold;
}

.details-box h5 {
    font-weight: 400;
}

.details-box span {
    font-size: 15px;
    color: rgb(77, 77, 77);
    font-weight: 400;
    padding-left: 10px;
}

.details-box button {
    padding: 10px 40px;
    text-decoration: none;
    background-color: #007bff;
    border: none;
    border-radius: 30px;
    text-align: center;
    color: white;
    outline: none;
}

.table-hover tbody tr:hover .job-serial,
.table-hover tbody tr:hover .invitation-serial {
    cursor: pointer;
}

.employer-list ul li:hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.employer-details {
    padding-left: 150px;
}

.employer-info {
    border-left: 3px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    border-radius: 50%;
    margin-bottom: 20px;
    font-family: "Roboto";
}

.employer-info .fas {
    background-color: white;
    padding: 5px 10px;
}

.card {
    width: 45%;
    margin: 50px auto;
    border: none;
    box-shadow: 3px 3px 5px 2px gray;
}

.card img {
    width: 45%;
}

.card-footer {
    border: none;
    background-color: rgb(43, 4, 88);
}

.card span {
    color: orange;
}

.card-footer .fab {
    padding: 0 20px;
    text-decoration: none;
    color: white;
}